<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthyu">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.BROADCAST_SMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.EntrySlider"></activity>
        <activity android:name=".activity.FirstAid" />
        <activity android:name=".activity.donate_us" />
        <activity android:name=".activity.insurance" />
        <activity android:name=".activity.DoctorUser" />
        <activity android:name=".activity.DoctorLogs" />
        <activity android:name=".activity.DoctorMain" />
        <activity android:name=".activity.DoctorSignup" />
        <activity android:name=".activity.DoctorList" />
        <activity android:name=".activity.EmergencyActivity" />
        <activity android:name=".activity.CovidData" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.PaitientAppointmentRequestActivity" />
        <activity android:name=".activity.DoctorApprovalAppointment" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>